<template>
  <div class="home">
    <yandex-maps />
  </div>
</template>

<script>
// @ is an alias to /src
import YandexMaps from '@/components/YandexMap.vue'

export default {
  name: 'Home',
  components: {
    'yandex-maps':YandexMaps
  }

}
</script>
